@media (max-width:1040px){
    body{
        width: 100%;
    }

    /* 헤더영역  - 상단*/
    header{
        background-color: #F2E9D8;
    }
    header button {
        margin-top: 26px;
        width: 114px;
        height: 40px;
        border: none;
        border-radius: 40px;
        background-color: #D97652;
        color: #FFFFFF;
    }
    .top{
        height: 76px;
        display: flex;
        justify-content: space-between;
    }
    .top a{
        margin: 24px 0 24px 20px ;
        width: 92px;
        height: 28px;
    }
    .top a img{
        width: 92px;
        height: 28px;
    }
    header section {
        display: flex;
        flex-direction: column;
        height: 718px;
        align-items: center;
        justify-content: space-between;
    }
    header section .header_text {
        margin-top: 40px;
        padding: 0 17.18% 0 18.46%;
        display: block;
        text-align: center;
    }
    header section .header_text .main_text {
        font-size: 24px;
        font-weight: 700;
        white-space: pre-line;
        line-height: 30px;
    }
    header section .header_text .sub_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        white-space: pre-line;
        margin-top: 30px;
    }
    header section .header_text button {
        margin-top: 30px;
    }
    header section img{
        height: 422px;
        width: 197px;
        margin-top: 18px;
    }
    /* 메인 영역 */
    /* 메인 섹션1 */
    main {
        padding: 0 32px;
    }
    main .top_sec {
        display: flex;
        flex-direction: column;
    }
    main .top_sec div .main_text {
        white-space: pre-line;
        font-weight: 700;
        font-size: 24px;
        margin-left: 30px;
    }
    main .top_sec div .sub_text {
        white-space: pre-line;
        font-weight: 400;
        font-size: 16px;
        margin-top: 30px;
        margin-left: 30px;
    }
    /* 메인 센션 2(컨텐츠 리스트) */
    main .list_sec .main_text {
        font-size: 48px;
        text-align: center;
        color: #D97652;
        margin: 120px 0 80px;
    }
    main .list_sec .sub_text {
        margin-top: 40px;
        text-align: center;
        white-space: pre-line;
    }
    main .list_sec .sub_text span {
        color: #D97652;
    }
    main .list_sec ul {
        width: 100%;
        margin: 88px 0;
    }
    main .list_sec img {
        width: 100%;
        height: 378px;
    }
    main .list_sec .show_more {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .list_sec #button {
        border-radius: 40px;
        background-color: #D97652;
        color: #F2E9D8;
        border: none;
        width: 143px;
        height: 50px;
        margin-top: 28px;
    }
    main .list_sec hr {
        height: 1px;
        width: 100%;
        margin: 80px 0 68px;
        color: #C4C4C4;
    }
    /* 카카오맵(지도) 섹션 */
    main .map_sec h3 {
        font-size: 43px;
        padding-bottom: 20px;
    }
    main #map {
        margin-top: 48px;
        width: 100%;
        height: 326px;
        border-radius: 12px;
    }
    /* 모달창 생성 아티클 */
    main article {
        position: relative;
        padding: 0 58px;
        width: 91%;
        top: 150px;
        background-color: #263140;
        border-radius: 30px;
        z-index: 2;
    }
    .modal {
        margin: 36px 0 42px;
    }
    .modal .main_text {
        font-size: 36px;
        font-weight: 700;
        white-space: pre-line;
        color: #FFFFFF;
    }
    .modal .sub_text {
        font-size: 14px;
        white-space: pre-line;
        color: #FFFFFF;
        font-weight: 400;
        margin-top: 18px;
    }
    .modal_btn {
        justify-content: space-around;
        margin: 69px 0 71px;
        width: 44.81%;
        height: 60px;
    }
    #email {
        padding: 0 141px 0 58px;
        width: 61.7%;
        height: 56px;
        border-radius: 60px;
        color: #767676;
        position: relative;
        bottom: 30px;
        font-weight: 400;
    }
    .modal_btn img {
        position: relative;
        left: 24px;
        top: 16px;
        width: 24px;
        height: 24px;
        z-index: 1;
    }
    .modal_btn button {
        position: relative;
        bottom: 85px;
        left: 73%;
        width: 135px;
        height: 50px;
        border: none;
        border-radius: 40px;
        background-color: #D97652;
        color: #FFFFFF;
        /*    27.84%*/
    }

    /* 모달창*/
    #modal_content {
        display: none;
        position: fixed;
        justify-content: center;
        z-index: 4; /* 모달을 화면의 맨 위에 배치 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* 필요한 경우 스크롤 */
        background-color: rgba(0,0,0,0.4); /* 투명도 */
    }
    #modal_content img {
        width: 600px;
        height: 400px;
    }
    aside{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        right: 19px;
        top: 271px;
    }
    .scroll_btn{
        z-index: 2;
        padding: 0;
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        margin: 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("img/modal/keyboard_arrow_up_hover.svg");
    }
    .scroll_btn:hover{
        background-image: url("img/modal/keyboard_arrow_up.svg");
    }

    /* 푸터 영역 */
    footer {
        width: 100%;
        z-index: 1;
        position: absolute;
    }
    footer img{
        width: 100%;
        height: 340px;
        padding: 0;
    }
    footer div {
        padding: 45px 0 0 27px;
    }
    footer div img {
        width: 112px;
        height: 34px;
    }
    footer div ul {
        margin: 58px 0 24px;
        width: 228px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer div ul img {
        width: 42px;
        height: 42px;
    }
}