/* 전체영역 */
*{
    margin: 0;
    padding: 0;
    font-family: Pretendard;
}
a{
    text-decoration: none;
    color: #000000;
}
ul{
    list-style-type: none;
}
header h1, h2{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
@media (min-width:1024px) {
    /* 헤더영역  - 상단*/
    header {
        background-color: #F2E9D8;
        height: 868px;
        padding: 0 16.5% 0 16.5%;
    }
    header button {
        margin-top: 26px;
        width: 140px;
        height: 50px;
        border: none;
        border-radius: 40px;
        background-color: #D97652;
        color: #FFFFFF;
    }
    header .top {
        display: flex;
        justify-content: space-between;
    }
    header .top img {
        margin-top: 31px;
    }
    header .top nav {
        display: flex;
        justify-content: space-between;
        height: 102px;
    }
    header .top nav ul {
        width: 205px;
        display: flex;
        justify-content: space-between;
        margin: 41px 49px 0 0;
    }

    /* 헤더영역 - section*/
    header section {
        display: flex;
        justify-content: space-between;
    }
    header section .header_text {
        margin-top: 200px;
    }
    header section .header_text .main_text {
        font-size: 48px;
        font-weight: 700;
        white-space: pre-line;
    }
    header section .header_text .sub_text {
        font-size: 16px;
        font-weight: 400;
        white-space: pre-line;
    }
    header section .header_text button {
        margin-top: 40px;
    }
    header section img {
        width: 22%;
        height: 766px;
    }


    /* 메인 영역 */
    /* 메인 섹션1 */
    main {
        padding: 80px 16.5% 0 16.5%;
    }
    main .top_sec {
        display: flex;
        gap: 110px;
    }
    main .top_sec img {
        width: 660px;
        height: 390px;
        border-radius: 30px;
    }
    main .top_sec div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    main .top_sec div .main_text {
        white-space: pre-line;
        font-weight: 700;
        font-size: 36px;
    }
    main .top_sec div .sub_text {
        white-space: pre-line;
        font-weight: 400;
        font-size: 16px;
        margin-top: 30px;
    }

    /* 메인 센션 2(컨텐츠 리스트) */
    main .list_sec .main_text {
        font-size: 48px;
        text-align: center;
        color: #D97652;
        margin: 120px 0 80px;
    }
    main .list_sec .sub_text {
        margin-top: 40px;
        text-align: center;
        white-space: pre-line;
    }
    main .list_sec .sub_text span {
        color: #D97652;
    }
    main .list_sec .list-pic {
        width: 100%;
        margin: 88px 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    main .list_sec .list-pic img {
        width: 378px;
        height: 378px;
        border-radius: 30px;
        margin-top: 72px;
    }
    main .list_sec .show_more {
        display: flex;
        flex-direction: column;
        margin: 100px 495px 0;
        align-items: center;
    }
    main .list_sec #button {
        border-radius: 40px;
        background-color: #D97652;
        color: #F2E9D8;
        border: none;
        width: 143px;
        height: 50px;
        margin-top: 28px;
    }
    main .list_sec hr {
        height: 1px;
        width: 100%;
        margin: 80px 0 68px;
        color: #C4C4C4;
    }

    /* 카카오맵(지도) 섹션 */
    main .map_sec h3 {
        font-size: 43px;
        padding-bottom: 20px;
    }
    main #map {
        margin-top: 48px;
        width: 100%;
        height: 520px;
        border-radius: 12px;
    }
    .radius_border{
        border:1px solid #919191;
        border-radius:5px;
    }
    .custom_typecontrol {
        position:absolute;
        top:10px;
        right:10px;
        z-index:2;
        font-size:12px;
        background-color: #f5f5f5 ;
    }
    .custom_typecontrol span {
        display:block;
        width:65px;
        float:left;
        text-align:center;
        line-height:30px;
        cursor:pointer;
    }
    .custom_typecontrol .btn {
        background:#fff;
        background:linear-gradient(#fff,  #e6e6e6);
    }
    .custom_typecontrol .btn:hover {
        background:#f5f5f5;
        background:linear-gradient(#f5f5f5,#e3e3e3);
    }
    .custom_typecontrol .btn:active {
        background:#e6e6e6;
        background:linear-gradient(#e6e6e6, #fff);
    }
    .custom_typecontrol .selected_btn {
        color:#fff;
        background:linear-gradient(#0562f2, #0763f7);
    }
    .custom_typecontrol .selected_btn:hover {
        color:#fff;
    }
    .custom_zoomcontrol {
        position:absolute;
        top:50px;
        right:10px;
        width:36px;
        height:80px;
        overflow:hidden;
        z-index:3;
        background-color:#f5f5f5;
    }
    .custom_zoomcontrol span {
        display:block;
        height:40px;
        text-align:center;
        cursor:pointer;
    }
    .custom_zoomcontrol span img {
        width:15px;
        height:15px;
        padding:12px 0;
        border:none;
    }
    .custom_zoomcontrol span:first-child{
        border-bottom:1px solid #bfbfbf;
    }

    /* 모달창 생성 아티클 */
    main article {
        position: relative;
        padding: 0 58px;
        width: 91%;
        top: 150px;
        background-color: #263140;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }
    .modal {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 50px 0 51px;
    }
    .modal .main_text {
        font-size: 36px;
        font-weight: 700;
        white-space: pre-line;
        color: #FFFFFF;
    }
    .modal .sub_text {
        font-size: 14px;
        white-space: pre-line;
        color: #FFFFFF;
        font-weight: 400;
        margin-top: 18px;
    }
    .modal_btn {
        justify-content: space-around;
        margin: 69px 0 71px;
        width: 44.81%;
        height: 60px;
    }
    #email {
        padding: 0 26% 0 13%;
        width: 61.7%;
        height: 56px;
        border-radius: 60px;
        color: #767676;
        position: relative;
        bottom: 30px;
        font-weight: 400;
    }
    .modal_btn img {
        position: relative;
        left: 24px;
        top: 16px;
        width: 24px;
        height: 24px;
        z-index: 1;
    }
    .modal_btn button {
        position: relative;
        bottom: 85px;
        left: 73%;
        width: 25.5%;
        height: 50px;
        border: none;
        border-radius: 40px;
        background-color: #D97652;
        color: #FFFFFF;
    /*    27.84%*/
    }

    /* 모달창*/
    #modal_content {
        display: none;
        position: fixed;
        z-index: 4;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        justify-content: center;
        align-items: center;
    }
    #modal_content img {
        width: 600px;
        height: 400px;
    }
    aside{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        right: 19px;
        top: 271px;
    }
    .scroll_btn{
        z-index: 2;
        padding: 0;
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        margin: 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("img/modal/keyboard_arrow_up_hover.svg");
    }
    .scroll_btn:hover{
        background-image: url("img/modal/keyboard_arrow_up.svg");
    }

    /* 푸터 영역 */
    footer {
        width: 100%;
        z-index: 1;
        position: absolute;
    }
    footer img{
        width: 100%;
        height: 340px;
        padding: 0;
    }
    footer .bottom{
        padding: 45px 16.5%;
    }
    .footer_nav{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    footer .footer_nav img {
        width: 226px;
        height: 70px;
    }
    footer .footer_nav ul {
        width: 228px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer .footer_nav ul img {
        width: 42px;
        height: 42px;
    }
    .footer_nav_text{
        display: none;
    }
}
